.inline-box {
  display: inline-block;
}

.green-top-accent {
  border-top: 4px solid var(--clr-accent-color-green);
}

.red-top-accent {
  border-top: 4px solid var(--clr-accent-color-red);
}

.yellow-top-accent {
  border-top: 4px solid var(--clr-accent-color-yellow);
}

.blue-top-accent {
  border-top: 4px solid var(--clr-accent-color-blue);
}
